/* General Styles */
body {
  font-family: 'Cormorant Garamond', serif;
  transition: background-color 0.3s, color 0.3s;
}

.dark-theme {
  background-color: #1c1c1e;
  color: #f1f1f1;
}



/* Header Styling */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.social-links a {
  margin: 0 10px;
  color: inherit;
  text-decoration: none;
}

.theme-toggle-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2em;
  color: inherit;
}

/* Footer Styling */
footer {
  text-align: center;
  padding: 20px 0;
  font-size: 0.9em;
  color: inherit;
}
